<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="style.css">
    <script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
    <script src="waitstaffApp.js"></script></head>

  <body ng-app="WaitstaffApp">
    <div class="content" ng-controller="WaitstaffCtrl as ws">

      <header><h1>Waitstaff Calculator</h1></header>
        
      <section class="half-left">
        <h2>Enter the Meal Details</h2>
        <form ng-submit="ws.submit()">
          <div class="details-row">
            <div>Base Meal Price: $</div>
            <input ng-model="ws.price" type="number" required></input></div>

          <div class="details-row">
            <div>Tax Rate: %</div>
            <input ng-model="ws.tax" type="number" required></input></div>

          <div class="details-row">
            <div>Tip Percentage: %</div>
            <input ng-model="ws.tip" type="number" required></input></div>

          <div class="details-buttons">
	    <button> 
              Submit</button>
	    <button ng-click="ws.clear()">
              Cancel</button></div></form></section>

      <section class="quarter-top-right">
        <h2>Customer Charges</h2>
        <div class="info-row">
          Subtotal {{ ws.subtotal() }}</div>

        <div class="info-row">
          Tip {{ ws.last_tip() }}</div>
        
        <div class="info-bar"/>

        <div class="info-row">
          Total {{ ws.total() }}</div></section>

      <section class="quarter-bottom-right">
        <h2>My Earnings Info</h2>

        <div class="info-row">
          Tip Total {{ ws.tip_total() }}</div>

        <div class="info-row">
          Meal count {{ ws.meal_count() }}</div>
	
        <div class="info-row">
          Average Tip Per Meal {{ ws.tpm() }}</div></section></div></body></html>
